.admin-bar body.tonic--enabled {
  border-block-start-width: var(--gin-toolbar-y-offset);

  .ui-dialog {
    .ui-dialog-titlebar-close {
      background: none;

      .ui-icon-closethick {
        top: 100%;
      }
    }

    fieldset {
      background-color: transparent;
      border: none;
    }
  }

  .layout {
    padding-top: var(--gin-toolbar-y-offset);
    margin-top: calc(-1 * var(--gin-toolbar-y-offset));
  }
}

header.gin-secondary-toolbar {
  height: auto;
}

.crm-mosaico-wizard .mosaico-templates-wrapper .row > .ng-scope {
  width: 100%;
}

main.region-content {
  margin-top: 50px;
}
body:not(.logged-in) header.region-sticky {
  inset-block-start: 0px;
}
body:not(.logged-in) .sticky-shadow {
  inset-block-start: 0px;
}

.crm-container .crm-submit-buttons .crm-button, .crm-container div.action-link a.button, .crm-container .crm-submit-buttons a.button, .crm-container .crm-submit-buttons a.button:link, #crm-main-content-wrapper a.button, #crm-container .crm-register-button {
  height: auto;
  border: 4px solid var(--gin-color-primary);
  background: #181A1C;
  font-size: 1.4em;
  font-weight: normal;
  margin: 0 6px 0 0;
  padding: 2px 8px;
  text-decoration: none;
}

.crm-container .crm-submit-buttons a.button.cancel {
  background: #999!important;
}

.crm-container .crm-submit-buttons a.button.cancel:hover {
  background: #666!important;
}

#crm-container .messages, #crm-container .status {
  background-color:#44616d;
  color: #fff;
}

#crm-container .messages a, #crm-container .status a {
  color: #81ceff;
  text-decoration: underline;
}

#crm-container .action-link:hover {
  background: none;
}

.crm-container .action-link {
  height: auto!important;
}

div.crm-submit-buttons {
  display: flex!important;
}
