.admin-bar body.tonic--enabled {
  border-block-start-width: var(--gin-toolbar-y-offset);

  .ui-dialog {
    .ui-dialog-titlebar-close {
      background: none;

      .ui-icon-closethick {
        top: 100%;
      }
    }

    fieldset {
      background-color: transparent;
      border: none;
    }
  }

  .layout {
    padding-top: var(--gin-toolbar-y-offset);
    margin-top: calc(-1 * var(--gin-toolbar-y-offset));
  }
}

header.gin-secondary-toolbar {
  height: auto;
}

.crm-mosaico-wizard .mosaico-templates-wrapper .row > .ng-scope {
  width: 100%;
}